<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Registration</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/venobox.css">
    <link rel="stylesheet" href="css/imagehover.min.css">
    <link rel="stylesheet" href="font/flaticon.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media.css">
</head>
<body  data-spy="scroll" data-target=".navbar" data-offset="95">

<nav class="navbar navbar-expand-md navbar-light">
  <div class="container">
      <a class="navbar-brand" href="#">
          <img src="images/CCMS.png" alt="logo">
      </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#banner" target="_blank">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#package" target="_blank">Packages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#gallery" target="_blank">Service</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#video" target="_blank">Video</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#mobile" target="_blank">Mobile Apps</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#blog" target="_blank">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Registration.html" target="_blank">Registration</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="Admin_login.html" target="_blank">Admin</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#" target="_blank">Contact</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
<!-=========== Navbar Part End =========-->



<style>
    
    b{
        font-size: 20px;
        font-family: sans-serif;
        color: rgba(0, 0, 0, 0.68);
        padding-left: 50px;
    }   
    
    input{
        width: 400px;
        height: 45px;
        background: #d6d3d3;
        padding-left: 20px;
        margin-left: 20px;
        border: 0px;
        border-radius: 50px;
        font-size: 20px;
        font-family: sans-serif;
        text-transform: capitalize;
       
    }
    button{
        width: 200px;
        height: 60px;
        line-height: 60px;
        background: #f79e10;
        border: 0px;
        border-radius: 50px;
        margin-top: 5px;
        margin-left:300px;
        transition: all linear 0.4s;
        
    }
    
    button:hover{
      background: #fff;
     color: #e80d0d;
    }
    
    i{
        font-size: 20px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin-left:10px;
        padding-top: 8px;
    }
    
</style>

<!--=====================Form Start=================================-->
<form action="">
    <table width="100%" height="800" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td width="800" height="800" style="background:url(../CCMS/images/pic2.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;">
                <table  width="800" height="700" cellpadding="0" cellspacing="0" border="0" align="center" style="margin-left: 250px; margin-top: 200px; border-radius: 5px;" bgcolor="#fff" >
                   
                     <tr>
                        <td width="800" height="66.66">
                          <img src="images/CCMS.png" alt="" style=" width: 200px; height: 50px; margin-left: 300px;">
                        </td>
                     </tr>
                     
                     <tr>
                         <td width="800" height="66.66">
                             <table width="800" height="66.66" cellpadding="0" cellspacing="0" border="0">
                                 <tr>
                                     <td width="300" height="66.66"><b>First Name :</b></td>
                                     <td width="500" height="66.66">
                                         <input type="text" name="name" id="name" placeholder="Enter Your First Name">
                                     </td>
                                 </tr>
                             </table>
                         </td>
                     </tr>
                     
                    <tr>
                         <td width="800" height="66.66">
                         <table width="800" height="66.66" cellpadding="0" cellspacing="0" border="0">
                                 <tr>
                                     <td width="300" height="66.66"><b>Last name :</b></td>
                                     <td width="500" height="66.66">
                            <input type="text" name="name" id="name" placeholder="Enter Your last Name">
                                     </td>
                                 </tr>
                             </table>
                         </td>
                     </tr>
                     
                      <tr>
                          <td width="800" height="66.66">
                            <table width="800" height="66.66" cellpadding="0" cellspacing="0" border="0">
                                 <tr>
                                     <td width="300" height="66.66"><b> Birth Date :</b></td>
                                     <td width="500" height="66.66">
                                 <input type="date" name="date" id="date">
                                     </td>
                                 </tr>
                             </table>
                          </td>
                     </tr> 
                     
                    <tr>
                         <td width="800" height="66.66">
                    <table width="800" height="66.66" cellpadding="0" cellspacing="0" border="0">
                                 <tr>
                                     <td width="300" height="66.66"><b>Mobile :</b></td>
                                     <td width="500" height="66.66">
                              <input type="number" name="number" id="number" placeholder="Enter Your mobile number">
                                     </td>
                                 </tr>
                             </table>
                         </td>
                     </tr> 

                       <tr>
                       
                        <td width="800" height="66.66">
                        <table width="800" height="66.66" cellpadding="0" cellspacing="0" border="0">
                                 <tr>
                                     <td width="300" height="66.66"><b>Your Present Address :</b></td>
                                     <td width="500" height="66.66">
                            <input type="text" name="address" id="address" placeholder="Enter Your address">
                                     </td>
                                 </tr>
                             </table>
                         </td>
                       
<!--
                       
-->
                     </tr>
               
                  <tr>
                          <td width="800" height="66.66">
                    <table width="800" height="66.66" cellpadding="0" cellspacing="0" border="0">
                                 <tr>
                                     <td width="300" height="66.66"><b>Email :</b></td>
                                     <td width="500" height="66.66">
                             <input type="email" name="email" id="email" placeholder="Enter Your Email id">                 
                                     </td>
                                 </tr>
                             </table>
                         </td>

                     </tr>            
                
                      <tr>
                         <td width="800" height="66.66">
                         <table width="800" height="66.66" cellpadding="0" cellspacing="0" border="0">
                                 <tr>
                                     <td width="300" height="66.66"><b>New Password :</b></td>
                                     <td width="500" height="66.66">
                            <input type="password" name="password" id="password" placeholder="Enter Your new password">
                                     </td>
                                 </tr>
                             </table>
                         </td>
                     </tr>
               
                      <tr>
                         <td width="800" height="66.66">
                    <table width="800" height="66.66" cellpadding="0" cellspacing="0" border="0">
                                 <tr>
                                     <td width="300" height="66.66"><b>Confirm Password :</b></td>
                                     <td width="500" height="66.66">
                    <input type="password" name="password" id="password" placeholder="Confirm Your password">
                                     </td>
                                 </tr>
                             </table>
                         </td>
                     </tr>
                    <tr>
                         <td width="800" height="66.66">
                        <table width="800" height="66.66" cellpadding="0" cellspacing="0" border="0">
                                 <tr>
                                     <td width="300" height="66.66"></td>
                                     <td width="500" height="66.66">
                                         <label><button type="submit" value="submit" ><strong>Registration Now</strong></button></label>
                                     </td>
                                 </tr>
                             </table>
                         </td>
                     </tr>
               
               
                       <tr>
                         <td width="800" height="66.66">
                           <table width="800" height="66.66" cellpadding="0" cellspacing="0" border="0">
                               <tr>
                               <td  width="400" height="66.66" >
                                    <a href="https://www.facebook.com/log-in" target="_blank"> <i class="fa fa-facebook" style="background: #3257d0; padding-left: 8px; color: #fff;"></i></a>
                                    
                                    <a href="https://www.twitter.com/log-in" target="_blank"> <i class="fa fa-twitter" style="background: #18c7e6; padding-left: 5px; color: #fff;"></i></a>
                                    
                                    <a href="https://www.twitter.com/log-in" target="_blank"> <i class="fa fa-instagram" style="background: #e36618; padding-left: 5px; color: #fff;"></i></a>
                                    
                                  <a href="https://www.google.com/" target="_blank"> <i class="fa fa-google-plus" style="background: #e31818; width: 30px; padding-left: 5px; color: #fff;"></i></a>
                               </td> 
                               <td  width="400" height="66.66">
                                   <p style="font-size: 15px; color: rgba(0, 0, 0, 0.54); font-family: sans-serif; padding-left: 50px; margin-top: 30px;">Already have an account ! 
                                                   
                                                   
                                                   
                             <a href="login.html" target="_blank" style="font-size: 15px; font-family: sans-serif; padding-left: 10px; color: #ef0303;"> LOG IN</a></p>
                               </td>
                           </tr>
                           </table>
                           
                           </td>
                     </tr>
               
               
               
                </table>
            </td>
        </tr>
    </table>
</form>
      
      <a href="#" class="back-top">
    <i class="fa fa-chevron-up"></i>
</a>
       
       
<script src="js/jquery-1.12.4.min.js"></script>    
<script src="js/bootstrap.min.js"></script>    
<script src="js/mixitup.min.js"></script>    
<script src="js/venobox.min.js"></script>    
<script src="js/slick.min.js"></script>    
<script src="js/waypoints.min.js"></script>    
<script src="js/jquery.counterup.min.js"></script>    
<script src="js/custom.js"></script>
        
</body>
</html>